
<h2>{{ d }}</h2>

<ul style='list-style-type: none;' class='day'>
    <li style='background-color: #fdd;'>☐ Задача 1</li>
    <li style='background-color: #dfd;'>🗹︎ Задача 2</li>
    <li style='background-color: #fdd;'>☐ Задача 3</li>
    <li style='background-color: #fdd;'>☐ Задача 4</li>
</ul>

