<ul style='list-style-type: none;' class='day'>
    <li style='background-color: #fdd;'>&#9744; Задача 1</li>
    <li style='background-color: #dfd;'>&#9745;︎ Задача 2</li>
    <li style='background-color: #dfd;'>&#9745;︎ Задача 3</li>
    {# <li style='background-color: #dfd;'>&#128504; Задача 3</li>#}
    <li style='background-color: #fdd;'>&#9744;︎ Задача 4</li>
</ul>

