{% extends "layout" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    
    Период: {{ period }}
    <br />
    dt: {{ today }}
    
    
    <table>
        <tr>
    {% for d in dtList %}
        <td>
            {% include 'day_plan' %}
        </td>
    {% endfor %}
        </tr>
    </table>
    
{% endblock %}