{% extends "layout" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    
    Период: {{ pv.selectedDt.format("d.m.Y") }}
    <br />
    dt: {{ pv.getTodayDt().format("d.m.Y") }}
    
    <br /><br />
    
    <div id="planner">
        {% include 'planner' %}
    </div>
    
    <br /><br />    
    
{% endblock %}

{% block js %}
    <script>
        window.addEventListener('load', function () {
            runPlannerControl();
        });
        
        function runPlannerControl() {
            const ellist = document.getElementsByClassName("planner-control");
            for (let e of ellist) {
                e.onclick = function () {
                    const target = document.getElementById('planner');
                    target.innerHTML = '...';
                    const url = "/schedule/" + this.getAttribute('data-dt') + "/" + + this.getAttribute('data-period');
                    
                    fetch(url)
                        .then(response => response.text())
                        .then(t => { 
                            target.innerHTML = t; 
                            runPlannerControl();
                        });
                }
            }
        }
    </script>
    
{% endblock %}