ul.day {
    list-style-type: none;
}

ul.day li {
    margin: 5px;
    padding: 3px;
    font-weight: normal;
}

ul li.task {
    padding: 10px;
    border-radius: 10px;
}

.task-footer {
    padding:3px;
}

.task-footer a {
    text-decoration: none;
    border-bottom: 1px #00c dotted;
}

.task-priority-a {
    background-color: #fdd;
}

.task-priority-b {
    background-color: #fed;
}

.task-priority-c {
    background-color: #dfd;
}

.task-priority-z {
    background-color: #ddd;
}

.table .day-hour-active {
    background-color: #fff8e3;
}