{% set elErrorName = elName | replace({ '[': '.', ']': ''}) %}
{% set hasErrors = errors.all() | length > 0 %}

<div class="row mb-3">
    <label for="{{ elName }}" class="col-sm-2 col-form-label">{{ elLabel }}</label>
    <div class="col-sm-10">
        {% include 'form/input_el' %}
        {% if errors.has(elErrorName) %}
        <div class="text-danger">
            {{ errors.first(elErrorName) }}
        </div>
        {% endif %}
    </div>
</div>
